---
import type { MarkdownInstance } from "astro";
import BaseLayout from "@layouts/base-layout.astro";
import PostListing from "@components/post-listing.astro";
import { getAllPosts, getAllTags, filterPostsByTag } from "@utils/common";

export interface Props {
    posts: MarkdownInstance<Record<string, any>>[];
}

export async function getStaticPaths() {
    const posts = await getAllPosts();
    const tags = await getAllTags();
    return tags.map((tag) => {
        const filteredPosts = filterPostsByTag(posts, tag)
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={`Tag '${tag}'`}>
    <h1>Posts tagged with <span>{tag}</span></h1>
    {
    posts.map((post) => <PostListing post={post} />)
    }
</BaseLayout>
<style>
    span {
        color: var(--color-accent);
    }
</style>
