---
import BaseLayout from "@layouts/base-layout.astro";
import { getAllTags } from "@utils/common"

const title = "Tags";

const tags = await getAllTags();
---

<BaseLayout title={title}>
    <h1>{title}</h1>
    <div>
        {
            tags.map((tag) => (
                <a href={`${import.meta.env.BASE_URL}tags/` + tag}>{tag}</a>
            ))
        }
    </div>
</BaseLayout>
<style>
    div {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        text-decoration: none;
        background: var(--color-bg-secondary);
        text-align: center;
        min-width: 4em;
        margin: 0.5em;
        padding: 1em;
        border-radius: var(--border-big);
        color: var(--color-text);
        font-weight: bold;
    }

    a:hover {
        color: var(--orange);
    }
</style>
