---
import type { MarkdownInstance } from "astro";
import Pill from "@components/tag-pill.astro";
export interface Props {
    post: MarkdownInstance<Record<string, any>>;
}

const { post } = Astro.props;
---

<div class="post-listing">
    <a href={post.url}>
        <div>
            <div class="date">{post.frontmatter.date?.slice(0, 10)}</div>
            <h2>{post.frontmatter.title}</h2>
        </div>
    </a>
    <div>
        {
            (post.frontmatter.tags)?.map((tag: string) => (
                <Pill tag={tag} />
            ))
        }
    </div>
</div>
<style>
    a {
        display: block;
        text-decoration: none;
        color: var(--color-text);
    }

    a:hover {
        color: var(--color-accent-secondary);
    }

    h2 {
        margin: 0;
    }

    .post-listing {
        margin-bottom: 1em;
    }

    .date {
        color: var(--color-text-inactive);
    }
</style>
